/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#products {
  font-family: Avenir;
  color: #00BFFF;
  font-weight: bolder;
}

 #notice {
  font-family: Avenir;
}

#tbl {
  font-family: Avenir;
  border-style: solid;
  width: 100%;
  letter-spacing: 1.5px;
}

#name {
  color: #1E90FF;
}

#description {
  color: #1E90FF;
}

#price {
  color: #1E90FF;
}

#newprod {
  text-decoration: none;
}

#show {
  padding: 3px;
}

#edit {
  padding: 3px;
}

#destroy {
  padding: 3px;
}

#namefield {
  font-family: Avenir;
}

#descriptionfield {
  font-family: Avenir;
}

#pricefield {
  font-family: Avenir;
}

#submitform {
  font-family: Avenir;
  color: #1E90FF;
}
