<h1 style="font-family: Avenir; color: #00BFFF;">Editing Product</h1>

<%= render 'form', product: @product %>

<button type="button" class="btn btn-success" style="font-family: Avenir;" id="edit"><%= link_to 'Show', @product %></button> |
<button type="button" class="btn btn-info" style="font-family: Avenir;" id="edit"><%= link_to 'Back', products_path %></button>
