<h1 style="font-family: Avenir; color: #1E90FF">New Product</h1>

<%= render 'form', product: @product %>

<button type="button" class="btn btn-info" style="font-family: Avenir;" id="edit"><%= link_to 'Back', products_path %></button>
